$divide2: #EBEBEB;
$text-color-custom: #BEBEBE;


@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }
    @-moz-keyframes #{$animationName} {
      @content;
    }
    @-o-keyframes #{$animationName} {
      @content;
    }
    @keyframes #{$animationName} {
      @content;
    }
  }
  @mixin animate($name, $duration, $delay, $function, $fillMode) {
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
         -o-animation-name: $name;
            animation-name: $name;

    -webkit-animation-duration: $duration;
       -moz-animation-duration: $duration;
         -o-animation-duration: $duration;
            animation-duration: $duration;

    -webkit-animation-delay: $delay;
       -moz-animation-delay: $delay;
         -o-animation-delay: $delay;
            animation-delay: $delay;

    -webkit-animation-timing-function: $function;
       -moz-animation-timing-function: $function;
         -o-animation-timing-function: $function;
            animation-timing-function: $function;
    
    -webkit-animation-fill-mode: $fillMode;
       -moz-animation-fill-mode: $fillMode;
         -o-animation-fill-mode: $fillMode;
            animation-fill-mode: $fillMode;
  }